name: Release

on:
  release:
    types: [published]

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.trim.outputs.version }}
    steps:
      - id: trim
        run: echo "::set-output name=version::${TAG:1}"
        env:
          TAG: ${{ github.event.release.tag_name }}

  release:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          registry-url: https://registry.npmjs.org/
          cache: npm
      - name: Setup and build
        run: |
          npm ci
          npm install -g json
          json -I -f package.json -e "this.version=\"$VERSION\""
          json -I -f package-lock.json -e "this.version=\"$VERSION\""
          npm run build
          npm pack
        env:
          VERSION: ${{ needs.setup.outputs.version }}
      - name: Publish to NPM
        run: ./scripts/publish.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
          VERSION: ${{ needs.setup.outputs.version }}
      - name: Upload NPM package file
        id: upload-npm-package-file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ needs.setup.outputs.version }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ format('chartjs-chart-financial-{0}.tgz', needs.setup.outputs.version) }}
          asset_name: ${{ format('chartjs-chart-financial-{0}.tgz', needs.setup.outputs.version) }}
          asset_content_type: application/gzip
